<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Board - Jobs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Iceberg&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Galdeano&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid box-area">
        <div class="row">
          <header>
            <h2 class="ama">Job Board</h2>
          </header>
        </div>    
      </div>
    <nav>
        <div class="container">
            <div class="nav-brand">
                <a href="/index">Job Board</a>
            </div>
            <ul class="nav-items">
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/post_job">Post a Job</a></li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <h1>Jobs</h1>
            <hr>
        </div>
    </header>

    <div class="container">
        {% for job in jobs %}
            <div class="job">
                <h2>{{ job.title }}</h2>
                <p>{{ job.description }}</p>
                <p>{{ job.hourly_wage }}</p>
                <p><a href="/job/{{ job.id }}">View Job</a></p>
                <form method="post" action="/delete_job/{{ job.id }}">
                    <input type="submit" value="Delete">
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>
